@-moz-document domain(youtube.com) {
    .video-annotations, .alerts-wrapper, .yt-alert-info, .ytp-player-content {
        display: none !important;
    }
    .ytp-cards-teaser, .ytp-cards-button {
        display: none !important;
    }
    #yt-comments-sb-container, #yt-masthead-signin {
        display: none !important;
    }
    #watch-discussion {
        display: none !important;
    }
}

@-moz-document domain(reddit.com) {
    .read-next-container {
        display: none !important;
    }
    .newsletterbar {
        display: none !important;
    }
    .cookie-infobar {
        display: none !important;
    }
}

@-moz-document domain(hs.fi) {
    #article-text {
        display: block !important;
    }

    .article-text-content {
        display: block !important;
    }

    #javascript-disabled-error {
        display: none !important;
    }

    html {
        overflow: visible !important;
    }
}

@-moz-document domain(lwn.net) {
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

    #menu, .topnav-container {
        background-color: #fc9 !important;
    }

    .Headline, .topnav-container {
        border-radius: 0 !important;
    }

    .navmenu ul {
        background: unset !important;
    }

    .navmenu hr {
        display: none !important;
    }

    body {
        background-color: #faf7f5 !important;;
        color: #151515 !important;
        font-family: "Open Sans", sans-serif;
    }

    .PageHeadline > h1 {
        font-weight: 300 !important;
    }

    b {
        font-weight: 400 !important;
        font-size: unset !important;
    }

    .fp-feature > font {
        font-size: unset !important;
        display: block !important;
        margin-top: 0.33em !important;
    }

    .BlurbListing > font {
        font-size: unset !important;
        display: block !important;
        margin-top: 0.33em !important;
    }

    .CommentTitle {
        font-weight: 400 !important;
        border-radius: unset !important;
        font-size: unset !important;
    }

    .pure-u-1 {
        font-size: 93% !important;
        font-family: "Droid Serif", serif;
    }

}

@-moz-document domain(mycourses.aalto.fi) {
    body, .brand, .navbar-inner {
        background: none !important;
    }

    #page-footer {
        display: none !important;
    }

    .navbar, .nav > li > a, .usermenu {
        color: inherit !important;
    }

    .block_calendar_upcoming .event {
        display: none !important;
    }

    .block_calendar_upcoming .event:nth-child(-n+5) {
        display: block !important;
    }

}
